
 *{
    font-family: "Quicksand","Arial","sans-serif";
 }
  
  .cart-page {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 15px 0;
  }
  
  .select-item {
    margin-right: 15px;
    transform: scale(1.4);
    accent-color: black;
  }
  
  .img-container{
    width: 270px;
    height: 250px;
  }
  .product-image {
    width: 230px;
    height: 250px;
    background-size: cover;
    margin-right: 15px;
  }
  
  .product-details {
    /* flex-grow: 1; */
    width: 500px;
  }
  
  .product-name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .product-size, .product-price, .product-color,.product-delivery{
    font-size: 14px;
    color: #555;
    margin: 5px 0 0;
  }
  .main{
    margin-left: 10px;
    height: 250px;
    width: 150px;
  }
  .product-quantity {
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    margin-top: 70px;
    margin-left: 10px;
    /* margin-right: 20px; */
  }
  .quantity-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 1000px; */
    /* align-items: center; */
    /* margin-bottom: 10px; */
 } 
  .quantity-decrease {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
  }
  .quantity-increase{
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 14px;
  }
  .quantity-input {
    width: 50px;
    text-align: center;
    margin: 0 5px;
    height: 24px;
    font-size: 14px;
  }
  
  .product-total {
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    margin-top: 10px;
    margin-left: 45px;
    color: #333;
    display: flex;
  }
  .price-details {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .address-block{
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .address-block:focus {
    outline: none;
    border-color: rgba(177, 207, 177, 0.8);
    background-color: rgba(177, 207, 177, 0.2);
  }
  .price-details h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .price-row {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    font-size: 14px;
    color: #555;
  }
  
  .price-row span:last-child {
    font-weight: bold;
  }
  
  .total-amount {
    font-size: 16px;
    color: #000;
  }
  
  .divider {
    margin: 10px 0;
    border: none;
    border-top: 1px solid gray;
  }
  
  .place-order-btn {
    width: 100%;
    padding: 10px 15px;
    margin-top: 15px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  
  .place-order-btn:hover {
    background-color: transparent;
    border: 1px solid black;
    color: black;
  }
  

  .remove-item {
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 100px;
    color: white;
    border: none;
    padding:8px 13px;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 5px;
    background-color: black;
    transition: 0.3s color,0.3s padding;
    border: 1px solid black;
}

.remove-item:hover{
  background-color: #f9f9f9;
  color: #000;
  padding:10px 15px ;
}

.empty-cart-message {
  font-size: 1rem;
  color: black;             
  text-align: center;       
  padding: 10px;            
  background-color: rgb(243, 243, 243); 
  color: black;           
  border-radius: 8px;      
  width: 100%;              
  margin-top: 0px;           
}


