@import "const.css";

.container{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
    height: 300px;
    width: 400px;
    border: none;
    border-radius: 6px;
    margin: 50px auto;
    padding: 20px;
    color: var(--font-family);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


h1{
    text-align: center;
    margin-bottom: 30px;
}
/* label{
    margin-bottom: 3px;
    width: 75%;
    text-align: left;
}
label::after{
    content:"*";
    color: red;
} */
input{
    margin-bottom: 20px;
    margin-top: 5px;
    width: 75%;
    padding: 8px;
    border-radius: 5px;
    border:var(--border);
    box-sizing: border-box;

}
input:hover{
    border-color: var(--input-hover-border);
}
button{
    padding: 8px;
    width: 75%;
    margin-top: 30px;
    background-color:var(--primary-color);
    border: none;
    border-radius: 8px;
    color: white;
}
button:hover {
    background-color:rgb(31, 120, 31);
}

.error-msg{
    color: red;
    font-size: 12px;
    width: 75%;
    text-align: right;
   
    display: none;
}
/* if any error then show */
.show{
    display: block;
}