body{
    margin: 0;
}
nav{
    display: flex;
    /* background-color:rgb(177, 207, 177); */
    background-color: rgba(177, 207, 177, 0.8);
    position:sticky;
    top:0;
    backdrop-filter: blur(10px);
    z-index: 1;
    padding: 5px;
    padding-right: 30px;
    padding-left: 10px;
}
ul{
    list-style-type: none;  
    gap: 60px;
    display: flex;
    margin-left: auto;
    justify-content: center;
}
a.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    padding: 5px 0;
    transition: color 0.3s ease;
}

a.nav-link::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #333;
    transition: width 0.3s ease, left 0.3s ease;
}

.icon-container {
    display: flex;
    gap: 30px;
}
a{
    text-decoration: none;
    color: black;
    position: relative;
    padding:5px 0;
    transition: color 0.3s ease;
}
a.nav-link {
    position: relative;
    
}
a.nav-link:hover {
    color: #555;
}

a.nav-link:hover::before {
    width: 100%;
    left: 0;
}

nav h1{
    margin-left: 10px;
}
nav li {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}
nav li a:hover{
    color: grey;
    text-decoration: underline;
}


a.nav-link::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color:grey;
    transition: width 0.3s ease, left 0.3s ease;
  }

  a.nav-link:hover {
    color: grey;
  }
  nav li a:hover {
    color: grey;
    text-decoration: none; 
}
  a.nav-link:hover::before {
    width: 100%;
    left: 0;
  }


  /* underline only for selected page */
  a.nav-link:hover::before,
    a.nav-link.active::before {
    width: 100%; 
    left: 0; 
}

a.nav-link:hover,
a.nav-link.active {
    color: #555; }

/* remove quicksand from icons */
nav i{
    font-family:'Font Awesome 6 free' !important;
    font-weight: 900;
    margin-right: 5px;
    margin-left: 0;
}


.user-initials {
    height: 20px;
    width: 20px;
    background-color: #fff; 
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
    position: relative;
}

.dropdown-card {
    display: none; 
    position: absolute;
    top:80%; 
    left: 88%;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100px;
    padding: 10px;
    font-size: 15px;
    z-index: 10;
}

.dropdown-card::before {
    content: "";
    position: absolute;
    top: -10px; 
    right: 10px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #fff; 
    z-index: 1001;
}

.dropdown-card a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}
.dropdown-card a:hover {
    background-color: #f0f0f0;
}

.dropdown-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}
.user-initials #initial{
    color:#555;
    margin: 0;
}

@media(min-width:1600px){
    .dropdown-card{
        left:92%;
    }
}