@import url('/css/const.css');
*{
    font-family:var(--font-family) ;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: auto;
    width:100%;
    box-sizing: border-box;
}
.product-page {
    display: flex;
    justify-content: center;  
    align-items: center;
    padding-top: 40px; 
    padding-bottom: 40px;
    padding-left: 100px;
    width: 100%; 
    max-width: 1200px;  
    margin: 0 auto;  
    box-sizing: border-box; /* to stop overflow */
}

.product-image {
    max-width: 100%;  
    height: auto;
    margin-right: 70px;  
    border-radius: 12px;  
    border: 1px solid #ddd;  
}

.vertical-line {
    width: 1px;
    background-color: #ddd;
    height: 80vh;
    margin: 0 20px;
}

.details {
    flex: 1;
    max-width: 50%;  
    padding: 70px;
    text-align: left;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
}

.description {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 15px;
}

.price {
    font-size: 2rem;
    font-weight: bold;
    color: gray;
    margin: 20px 0;
}

.color {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #ddd;
    margin-right: 10px;
}

.color.brown {
    background-color: #8B4513;
}

.color.beige {
    background-color: #F5F5DC;
}

.btn {
    display: inline-block;
    width: 100%;
    max-width: 175px;
    padding: 12px 20px;
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

@media (max-width: 1024px) {
   
    .product-page {
        padding-left: 20px; 
        padding-right: 20px; 
        padding-top: 0px;
        margin-top: 0px;
    }
       .product-image {
        max-width: 80%;
        height: auto; 
        margin-right: 0;  
        margin-bottom: 20px;
    }

}



@media (max-width: 768px) {
    body {
        flex-direction: column;
        height: auto;
    }

    .product-page {
        flex-direction: column;
        align-items: center;  
    }

    .product-image {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .vertical-line {
        display: none;
    }

    .details {
        text-align: center;
        max-width: 90%;  
    }
}
