<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer style=" color:black; padding: 20px; text-align: center;">
        <div class="social-icons">
            <a href="https://www.instagram.com" target="_blank">
                <img src="/html/src/social/instagram.png" alt="Instagram">
            </a>
            <a href="https://www.facebook.com" target="_blank">
                <img src="/html/src/social/facebook.png" alt="Facebook">
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <img src="/html/src/social/twitter.png" alt="Twitter">
            </a>
        </div>
        <div class="Contact Us">
           <h1>Contact us</h1>
        </div>
        
        <div style="margin-bottom: 10px; font-size: 14px;">
            &COPY; 2024 Sole Stories.All rights reserved
        </div>
        <div style="font-size: 12px;">
            <a href="/html/pages/aboutUs.html" style="color: black; text-decoration: none;">About Us</a> | 
            <a href="/html/pages/privacy&policy.html" style="color: black; text-decoration: none;">Privacy Policy</a>
        </div>
    </footer>
</body>
</html>